html{
    background-color: #FFD796;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(180deg, #FFBF57, #FFD796);
}

.navbar img {
    height: 40px;
}

.navbar nav {
    display: flex;
    gap: 15px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

.navbar button {
    background-color: #ffffff;
    border: none;
    padding: 10px 15px;
    color: #000000;
    cursor: pointer;
    box-shadow: #000000 0 3px 5px;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    width: 150px;
}

.navbar button:hover {
    background-color: #e67e22;
}
