@media (max-width: 870px) {
  .container {
    overflow-y: auto;
  }

  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:  repeat(2, 1fr);
  }

  .signin-signup {
    width: 80%;
  }

  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .signin-signup {
    position: absolute;
    left: 50%;
    top: 100%;
    z-index: 17;
  }
  .container:before {
    content: "";
    height: 100%;
    width: 2000px;
    right: 0;
    background: linear-gradient(90deg, #FEEB64 13%,#FDD55B 35%, #FDDC5F 46%, #FBCB60 58%, #F7AE67 100%);
  }

  .left-panel{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .left-panel #prato{
    transform: rotate(90deg);
    left: 30%;
    width: 40%;
    top: -60px;
  }

  .left-panel #fundoPrato{
    width:auto;
    height: 200%;
    transform: rotate(90deg);
    left: 12%;
    top: -250px
  }

  /* ANIMATION */
  .container.sign-up-mode:before {
    transform: translate(50%, 80%);
    right: 100%;
  }

  .container.sign-up-mode .left-panel #prato,
  .container.sign-up-mode .left-panel #fundoPrato {
    top: -800px
  }
  .container.sign-up-mode .right-panel #prato {
    transform: rotate(-90deg);
    right: 17%;
    position: absolute;
    bottom: -180%;
  }

  .container.sign-up-mode .right-panel #fundoPrato {
    transform: rotate(-90deg);
    right: -12%;
    position: absolute;
    bottom: -200%;
    height: 200%;
  }

  .container.sign-up-mode .signin-signup {
    left: 50%;
    top: 35%;
  }

  .container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }


/* 
  
  
  
  
  
  
  
  .container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .container.sign-up-mode .right-panel {
    pointer-events: all;
  }
   */
}

@media (max-width: 610px) {
  .signin-signup {
    width: 120%;
  }
}




 