.parteCima .infoFavoritos{
    width: 60%;
    height: 100%;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parteCima .infoFavoritos .areaBotoes{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parteCima .infoFavoritos .conteudoFavorito{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: #000 5px dashed;
    border-radius: 50px;
}

/* Botoes*/

.parteCima .infoFavoritos .areaBotoes button{
    border: none;
    padding: 15px 12px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FFD796;
    width: 30%;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.parteCima .infoFavoritos .areaBotoes button:hover{
    background-color: #FDDC65;
    box-shadow: #00000070 0 3px 4px;
}

.parteCima .infoFavoritos .areaBotoes button img{
    height: 40px;
    width: 40px;

}
/** Cards Favoritos */



.conteudoFavorito .card{
    position: relative;
    z-index: 1;
    padding: 15px;
    width: 250px;
    height: 350px;
}

.conteudoFavorito .card > * {
    position: relative;
    z-index: 1;
}

.conteudoFavorito .card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, #ffffff99, #ffd3d35d);
    backdrop-filter: blur(8px);
    z-index: 0;
    border-radius: 20px;
    border: #fff 1px solid;
}


.conteudoFavorito .card .imgComida{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -50px;
    right: 2px;
    margin: auto;
}

.conteudoFavorito .card h3{
    font-size: 25px;
    margin: 10px 0;
    font-family: 'Jaro', sans-serif;
    font-weight: 600;
    width: 45%;
}

.conteudoFavorito .card .categ{
    font-size: 14px;
    background-color: #FFF;
    color: #FF7A00;
    padding: 3px 10px;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    box-shadow: #00000070 0 3px 4px;
}

.conteudoFavorito .card p{
    font-size: 14px;
    height: 58%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    line-clamp: 12;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


.conteudoFavorito .card .botoes{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    width: 86%;
}

.conteudoFavorito .card .botoes .btnReceita {
    color: #FFF;
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
    width: 90%;
    font-size: 18px;
    font-weight: 600;
}

.conteudoFavorito .card .botoes .btnCoracao {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 12px;
    color: #FFF;
    font-size: 18px;
}

.conteudoFavorito .card .botoes #btnVermelho{
    background-color: #F64343;
}