.parteCima .receitaPrincipal{
    width: 30%;
    height: 100%;
    background: linear-gradient(90deg, #FEE964 , #F7AE67 100%);
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #000000a9 0 3px 10px;
}

.parteCima .receitaPrincipal .imgComida{
    width: 150px;
    height: 150px;
    margin: auto;
}

.parteCima .receitaPrincipal h3{
    font-size: 25px;
    font-family: 'Jaro', sans-serif;
    font-weight: 600;
}

.parteCima .receitaPrincipal .txtReceitaPrincipal{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.parteCima .receitaPrincipal .categ{
    font-size: 14px;
    background-color: #FFF;
    color: #FF7A00;
    padding: 3px 10px;
    font-weight: bolder;
    border-radius: 20px;
    width: fit-content;
    box-shadow: #00000070 0 3px 4px;
}

.parteCima .receitaPrincipal p{
    font-size: 14px;
    height: 58%;
    width: 80%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 22;
    line-clamp: 22;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}