form p .signin-link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}

form p .signup-link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
}