.fotoPerfil{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoPerfil .circuloBranco{
    height: 65%;
    aspect-ratio: 1 / 1;
    background-color: aliceblue;
    border-radius: 50%;
    box-shadow: #000 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoPerfil .circuloBranco .circuloMarrom{
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: #FFD796;
    border-radius: 50%;
    box-shadow: #000 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoPerfil .circuloBranco .circuloMarrom img{
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}