.container {
    width: 80%;
    background: transparent;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


/* .header {
    background: url(/img/cadastroReceitas/alimentosReceitas.png) no-repeat center;
    height: 140px;
    border-radius: 2px;
    width: 80%;
    background-size: cover;
} */


/* Formulário */
.form {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 12px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
    padding: 15px 0 5px 0;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}

textarea {
    resize: none;
}

.input-group {
    display: flex;
    gap: 8px;
}

.btn-add {
    background: #662801;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

.btn-add:hover {
    background: #ff7a1e;
}

.list {
    margin-left: 10px;
    font-size: 13px;
    color: #333;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.categories button {
    background: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}

.categories button.active {
    background: #333;
    color: white;
}

input[type="file"] {
    border: none;
    font-size: 13px;
}

.design {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.design-option {
    width: 32%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    opacity: 0.6;
}

.design-option.active {
    opacity: 1;
    border: 3px solid rgb(85, 46, 2);
}

.vermelho {
    background: #e74c3c;
}

.verde {
    background: #27ae60;
}

.amarelo {
    background: #f39c12;
}

.cores {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cores input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

#cor-vermelho {
    background: #e74c3c;
}

#cor-verde {
    background: #27ae60;
}

#cor-amarelo {
    background: #f39c12;
}

.btn-finalizar {
    background: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
}